$primary-color: #39a4fe;

body {
  font-size: 1.6rem;
}
.dropdown {
  margin: 5rem auto;
  width: 40rem;
  &__select {
    padding: 2rem 2.5rem 2rem 4rem;
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;
  }
  &__text {
    margin-left: 3.5rem;
  }
  &__caret {
    margin-left: auto;
  }
  &__list{
    
  }
  &__item {
    padding: 2rem 2.5rem 2rem 4rem;
    display: flex;
    color: #dfe8ee;
    align-items: center;
    &:hover {
      color: #74809d;
    }
  }
}
