$primary-color:#39A4FE;

body {
  font-size: 1.6rem;
}
.dropdown {
  margin: 5rem auto;
  width: 40rem;
  &__select {
    justify-content: space-between;
    padding: 2rem 2.5rem;
    background-color: $primary-color;
    .dropdown__icon {
      color: red;
    }
  }
}
