@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

body {
  background-color: #f3f3f3;
}

.post {
  padding: 2rem;
  margin: 5rem auto;
  max-width: 40rem;
  background-color: white;
  border-radius: 2rem;
  @include flexbox();
}
