@use "../../assert/sass/global.scss" as g;

.checkbox {
  margin-top: 10rem;
  &__input {
    display: none;
    &:checked + .checkbox__label::after {
      visibility: visible;
      transition: visibility 1s linear;
    }
  }
  &__label {
    position: relative;
    padding-left: 5rem;
    cursor: pointer;
    user-select: none;
    &::before {
      content: "";
      position: absolute;
      @include g.size(4rem);
      border-radius: 10px;
      //   width: 5rem;
      //   height: 5rem;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: tomato;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      @include g.size(2rem, 1rem);
      top: 40%;
      left: 1rem;
      transform: translateY(-50%) rotateZ(-45deg);
      z-index: 3;
      border-bottom: 3px solid white;
      border-left: 3px solid white;
      visibility: hidden;
      transition: visi 1s linear;
    }
  }
}
