@use "../../assert/sass/global.scss" as g;

body {
  background-color: #fcfcfe;
  padding: 10rem;
  width: 100vw;
  height: 100vh;
}

.signup {
  background-color: white;
  @include g.flexbox(stretch, space-between);
  &__content{
    width: ;
  }
}
