@use "../../assert/sass/global.scss" as g;
$primary: #fa4c54;
$text-color: #291667;

body {
  background-color: #dadfed;
  // background-color: tomato;
  padding: 5rem;
  width: 100vw;
  height: 100vh;
}

.signup {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  @include g.flexbox(stretch, space-between);
  box-shadow: 10px 10px 10px 5px #b1b8ca;
  &__content {
    width: 50%;
    padding: 10rem;
  }
  &__heading {
    font-size: 4rem;
    font-weight: bold;
    color: #271665;
    margin-bottom: 3rem;
  }
  &__caption {
    font-size: 12px;
    font-weight: bold;
    color: #f85960;
    position: relative;
    padding-left: 10rem;
    margin-bottom: 5rem;
    &::before {
      content: "";
      width: 8rem;
      height: 2px;
      background-color: #e85458;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  &-social {
    @include g.flexbox(stretch, space-between);
    margin-bottom: 6rem;
    &__item {
      padding: 1.5rem 2.5rem;
      border-radius: 10px;
      border: 1px solid #eee;
      @include g.flexbox(center, center);
      color: $text-color;
      width: calc(50% - 1.5rem);
      border-radius: 6px;
    }
    &__icon {
      margin-right: 2rem;
    }
  }
  &__image {
    width: 50%;
    object-fit: cover;
    text-align: end;
    img {
      display: inline-block;
      object-position: top;
      object-fit: contain;
      height: 100%;
    }
  }
  &-form {
    &__label {
      color: $text-color;
      display: inline-block;
      margin-bottom: 1rem;
      transform: translateX(1rem);
      cursor: pointer;
    }
    &__input {
      padding: 1.5rem 2rem;
      border: 1px solid #eee;
      background-color: #fafbff;
      border-radius: 10px;
      display: block;
      width: 100%;
    }
    &__row {
      @include g.flexbox(stretch, space-between);
      margin-bottom: 3rem;
      .signup-form__group {
        width: calc(50% - 1.5rem);
      }
    }
    &__term {
      margin-bottom: 5rem;
      input {
        display: none;
        &:checked + label::before {
          background-color: $primary;
          border-color: $primary;
        }
      }
      label {
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin-top: 3rem;
        padding-left: 3rem;
        &::before {
          content: "";
          @include g.size(2.5rem);
          border-radius: 8px;
          background-color: #eee;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          border: 1px solid #ccc;
        }
      }
    }
    &__submit {
      @include g.size(8rem);
      color: white;
      border: 0;
      border-radius: 2.5rem;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 6.5rem;
      box-shadow: 0 10px 10px 0px rgba($primary, 0.5);
    }
    &validate {
      position: relative;
      &__check {
        @include g.size(3rem);
        color: $text-color;
        border-radius: 4px;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__already {
    color: $text-color;
    a {
      color: $primary;
    }
  }
}
