.author{
    max-width: 1000px;
    margin:2rem auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    &__image{
        flex-basis: 35%;
        
    }
    &__content{
        flex-basis: 65%;
    }
}
