.author {
  max-width: 1000px;
  margin: 2rem auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  background-color: #fcfbfb;
  align-items: center;
  &__image {
    width: 35%;
    height: 30rem;
    object-fit: cover;
    display: inline-block;
  }
  &__content {
    flex-basis: 65%;
    padding: 3rem 2rem;
  }
  &__name {
    color: #302f4d;
    font-size: 18px;
    font-weight: bold;
  }
  &__desc {
    color: #b5b5b5;
    font-size: 12px;
  }
  &__contact,
  &-social {
    font-size: 12px;
    font-weight: bold;
    display: flex;
  }

  &-social{
    &__item{
        margin-left: 1rem;
    }
  }
}
