*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.card__list {
  display: flex;
  gap: 0 30px;
}

.card__list .card__item {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);
  position: relative;
}

.card__item .card__from {
  position: absolute;
  top: 24px;
  left: 30px;
  background: #353945;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 20px;
  color: #fcfcfd;
  padding: 5px 16px;
}

.card__list .card__img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__list .card__item .card__body {
  padding: 20px 20px 14px;
}

.card__item .card__name {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 28px;
  color: #23262f;
  margin-bottom: 10px;
}

.card__item .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card__item .row .card__rating {
  display: flex;
  align-items: center;
  gap: 0 11px;
}

.card__item .row span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 27px;
  color: #3b3e44;
}

.btn {
  border: none;
  background-color: #3b71fe;
  padding: 8px 17px 9px;
  border-radius: 8px;
  color: white;
}
