@use "../../assert/sass/global.scss" as g;

.custom-checkbox {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  &-input {
    display: none;
    &:checked + .custom-checkbox-box {
      background-color: black;
      > .custom-checkbox-icon {
        color: red;
      }
    }
  }
  &-label {
    font-family: "Poppins";
    cursor: pointer;
    user-select: none;
  }

  &-box {
    @include g.size(5rem);
    border: 1px solid #eee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
}
