@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

@mixin size($width, $height:$width){
    width: $width;
    height: $height;
}

body{
    background-color: #f3f3f3;
    padding: 2rem;
}

.post{
    background-color: white;
    padding:2rem;
    border-radius: 1rem;
    &__left,&__right
}