.fuature{
    &-container{
        display: flex;
        gap:170px;
        align-items: center;
    }
    &-heading{
        font-weight: 500;
        color: $heading-color;
        font-size: 35px;
        line-height: ;
    }
}