.header {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  list-style: none;
  display: flex;
  &-item + .menu-item {
    margin-left: 40px;
  }
  &-item {
    display: inline-block;
    color: inherit;
  }
}
