.header{
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    list-style: none;
    display: flex;
    &-item
    &-item{
        display: inline-block;

    }
}