.hero {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
    font-weight: 400;
    color: $heading-color;
  }
  &-heading {
    font-size: 50px;
  }
  &-lighight{
    
  }
}
